{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("unionco\\ticketmaster\\assetbundles\\ticketmaster\\TicketmasterAsset") %}

{% set title = event.title ?: "New Event"|t('ticketmaster') %}
{% set selectedSubnavItem = 'events' %}
{% set isNewEvent = event.id ? false : true %}
{% set eventSearchField = craft.ticketmaster.createField("unionco\\ticketmaster\\fields\\EventSearch", {
    handle: 'eventSearch',
}) %}

{% block actionButton %}
    <div class="btngroup">
        <input class="btn submit" type="submit" value="{{ 'Save Event'|t('ticketmaster') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                    {{ forms.optionShortcutLabel('S') }}
                    {{ "Save and continue editing"|t('ticketmaster') }}
                </a></li>
                <li><a class="formsubmit" data-param="publish" data-value="1">{{ "Publish Event"|t('ticketmaster') }}</a></li>
                <li><a class="formsubmit" data-param="publish-and-view" data-value="1">{{ "Publish and Go to Event"|t('ticketmaster') }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="ticketmaster/event/save">
    <input type="hidden" name="siteId" value="{{ currentSite.id }}">
    <input type="hidden" name="venueId" value="{{ event.tmVenueId }}">
    {% if event.id %}<input type="hidden" name="eventId" value="{{ event.id }}">{% endif %}
    {{ redirectInput('ticketmaster/events') }}

    <div id="fields">
        {{ forms.textField({
            label: "Title"|t('ticketmaster'),
            id: 'title',
            name: 'title',
            value: event.title,
            errors: event.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255
        }) }}

        {% for tab in tabs %}
            <div id="{{ tab.id }}"{% if not loop.first %} class="hidden"{% endif %}>
                {% if tab.id == 'publish' %}
                    {% set eventPublishedField = craft.ticketmaster.createField("unionco\\ticketmaster\\fields\\EventSearch", {
                        handle: 'published',
                        id: 'published'
                    }) %}
                    {% include "_includes/forms/field" with {
                        label: 'Event Published'|t('ticketmaster'),
                        id: 'published',
                        input: eventPublishedField.getInputHtml(event.published ?? event.payload),
                        fieldType: className(eventPublishedField),
                    } only %}
                {% else %}
                    {% set eventSearchField = craft.ticketmaster.createField("unionco\\ticketmaster\\fields\\EventSearch", {
                        handle: 'payload',
                        id: 'payload',
                    }) %}
                    {% include "_includes/forms/field" with {
                        label: 'Event Search'|t('ticketmaster'),
                        id: 'payload',
                        instructions: 'This tab is live data from Ticketmaster and should **NOT** be updated manually.',
                        input: eventSearchField.getInputHtml(event.payload),
                        fieldType: className(eventSearchField),
                    } only %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
    </div>

    {% if event.id %}
        <div id="eventdetails" class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Status"|t('app') }}</h5>
                {# {{ forms.selectField({
                    name: "status",
                    value: event.status,
                    options: [{
                        label: 'New',
                        value: 'new'
                    },{
                        label: 'Updated',
                        value: 'updated'
                    },{
                        label: 'Published',
                        value: 'published'
                    }]
                }) }} #}
                <div class="value">{{ event.status | ucfirst }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div class="value">{{ event.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div class="value">{{ event.dateUpdated|datetime('short') }}</div>
            </div>
            <hr/>
            <div class="data">
                <p class="heading">Refreshes the data from Ticketmaster.</p>
                <div class="value">
                    {% verbatim %}
                    <div class="btn" @click="refresh">
                    {% endverbatim %}
                        {{ "Refresh Data"|t('ticketmaster') }}
                    </div>
                </div>
            </div>

            {% if event.status == 'updated' %}
                <hr/>
                <div class="data">
                    <p class="heading">Dismiss this update from Ticketmaster.</p>
                    <div class="value">
                        {% verbatim %}
                        <div class="btn" @click="dismiss">
                        {% endverbatim %}
                            {{ "Dismiss Update"|t('ticketmaster') }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% js %}
    new Vue({
        el: '#eventdetails',

        data() {
            {% block eventdetails %}
            var data = {{ {
                eventId: event._payload.tmEventId,
                venueId: event.tmVenueId
            }|json_encode|raw }};
            {% endblock %}
            return data;
        },

        methods: {
            dismiss() {
                Craft.postActionRequest('ticketmaster/event/dismiss-update', {  eventId: this.eventId }, function (response) {
                    if (response.success) {
                        window.location.reload();
                    }
                }.bind(this));
            },

            refresh() {
                Craft.postActionRequest('ticketmaster/event/store-event', {  eventId: this.eventId, venueId: this.venueId }, function (response) {
                    if (response.success) {
                        window.location.reload();
                    }
                }.bind(this));
            }
        }
    })
{% endjs %}
