{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Ticketmaster plugin for Craft CMS 3.x
 *
 * Ticketmaster Settings.twig
 *
 * @author    Union
 * @copyright Copyright (c) 2019 Union
 * @link      https://github.com/unionco
 * @package   Ticketmaster
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("craft\\web\\assets\\vue\\VueAsset") %}

{{ forms.autosuggestField({
    label: 'Consumer Key'|t('ticketmaster'),
    instructions: 'To get your consumer key please visit <a target="_blank" href="https://developer.ticketmaster.com/">https://developer.ticketmaster.com/</a>'|t('ticketmaster'),
    id: 'consumerKey',
    name: 'consumerKey',
    class: 'ltr',
    suggestEnvVars: true,
    suggestAliases: true,
    value: settings['consumerKey']})
}}

{{ forms.autosuggestField({
    label: 'Consumer Secret'|t('ticketmaster'),
    instructions: 'To get your consumer secret please visit <a target="_blank" href="https://developer.ticketmaster.com/">https://developer.ticketmaster.com/</a>'|t('ticketmaster'),
    id: 'consumerSecret',
    class: 'ltr',
    name: 'consumerSecret',
    suggestEnvVars: true,
    suggestAliases: true,
    value: settings['consumerSecret']})
}}

<div class="section-map">
    <div class="field">
        <div class="heading">
            <label id="settings-section-label" class="required" for="section">
                Section
            </label>
            <div class="instructions"><p>{{ 'Section to map the ticketmaster events when published'|t('ticketmaster') }}</p></div>
        </div>
        <div class="select ltr">
            {% verbatim %}
                <select id="section" name="section" v-model="selected">
                    <option v-for="option in options" v-bind:value="option.value">
                        {{ option.label }}
                    </option>
                </select>
            {% endverbatim %}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label id="settings-sectionEntryType-label" class="required" for="sectionEntryType">
                Entry Type
            </label>
            <div class="instructions"><p>{{ 'Entry Type to map the ticketmaster events when published'|t('ticketmaster') }}</p></div>
        </div>
        <div class="select ltr">
            {% verbatim %}
                <select id="sectionEntryType" name="sectionEntryType" v-model="entryType">
                    <option v-for="option in entryTypes" v-bind:value="option.value">
                        {{ option.label }}
                    </option>
                </select>
            {% endverbatim %}
        </div>
    </div>

    {{ forms.lightswitchField({
        label: 'Enable when published'|t('ticketmaster'),
        instructions: 'When you publish an event, should the entry be enabled by default or not. Keep in mind that if you have other custom required fields, enabling this feature will cause problems.'|t('ticketmaster'),
        id: 'enableWhenPublish',
        name: 'enableWhenPublish',
        on: settings.enableWhenPublish ?? false,
    }) }}
</div>

{% js %}
new Vue({
    el: document.querySelector('.section-map'),

    data() {
        {% block data %}
        var data = {{ {
            selected: settings.section,
            entryType: settings.sectionEntryType,
            options: craft.ticketmaster.getSectionSelect,
            entryTypes: [],
            apiFields: settings.apiFields,
            fields: [],
            availableFields: craft.ticketmaster.getApiFields
        }|json_encode|raw }};
        {% endblock %}
        return data;
    },

    watch: {
        selected: function (newValue, oldValue) {
            if (newValue !== oldValue) {
                this.getEntryTypes(newValue);
            }
        }
    },

    mounted() {
        this.getEntryTypes();
    },

    methods: {
        getEntryTypes(section) {
            if (!section) {
                section = this.selected ? this.selected : this.options[0].value;
            }

            Craft.postActionRequest('ticketmaster/settings/get-entry-types', { uid: section }, function (response) {
                if (response.success) {
                    this.entryTypes = response.types;
                    this.entryType = response.types[0].value;
                }
            }.bind(this));
        },

        addRow() {
            this.apiFields.push({ field: '' });
        },

        deleteRow(index) {
            console.log(index, this.apiFields);
            this.apiFields.splice(index, 1);
        }
    }
})
{% endjs %}

{% css %}
    .shadow-box .field > .select,
    .shadow-box .field > .select select {
        box-shadow: none !important;
    }
{% endcss %}
